.form-control {
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  border-radius: 6px;
  background: white;
  text-align: center;
}
h2 {
  color: black;
  text-align: center;
  margin: 1rem 0rem;
  font-size: 2rem;
}
.button_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
[type="button"]:disabled {
  background: gray;
  color: black;
}
[type="button"]:focus {
  outline: none;
}
[type="button"],
[type="submit"] {
  display: block;
  margin: 0.5rem 0rem;
  padding: 0.5rem 1rem;
  min-width: 15rem;
  border: none;
  border-radius: 5px;
  background: #ff1c4a;
  color: #fff;
  max-width: 10rem;
}
